@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


:root {
  --font-body: 'Manrope', 'Poppins', sans-sarif;
  --font-headings: 'Inter', 'Poppins', sans-sarif;
  --background: #ffffff;
  --foreground: #171717;
  --shadow-brand: -82px 54px 27px 0px rgba(0, 0, 0, 0.01),
    -52px 35px 25px 0px rgba(0, 0, 0, 0.04),
    -29px 19px 21px 0px rgba(0, 0, 0, 0.15),
    -13px 9px 16px 0px rgba(0, 0, 0, 0.25),
    -3px 2px 9px 0px rgba(0, 0, 0, 0.29),
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
   --shadow-brand: -82px 54px 27px 0px rgba(225, 225, 225, 0.01),
    -52px 35px 25px 0px rgba(225, 225, 225, 0.04),
    -29px 19px 21px 0px rgba(225, 225, 225, 0.15),
    -13px 9px 16px 0px rgba(225, 225, 225, 0.25),
    -3px 2px 9px 0px rgba(225, 225, 225, 0.29),
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: var(--font-body);
  --font-inter: var(--font-headings);
  --shadow-b: var(--shadow-brand);
}

@layer base {
  body{
    @apply bg-background text-foreground
  }
}

.container {
  @apply max-w-7xl mx-auto py-4
}